@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
span-gamer{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.primary-btn{
    width: 156px;
    height: 65px;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
}
.secondary-btn{
    width: 185px;
    height: 65px;
    border-radius: 48px;
    background-color: #4EC5F7;
    border: none;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
}
/* header part */
.header-container{
    max-width: 1899px;
    padding: 24px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin: 0 auto;
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo-image{
    width: 86.041px;
    height: 40px;
}
.logo-name{
    font-family: Work Sans;
    font-size: 45px;
    color: black;
}
.follow-us-btn{
    width: 262px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.follow-us-btn i{
    font-size: 20px;
}
.follow-us-btn i:nth-child(2){
    color: red;
}

/* banner part
.banner-container{
    
} */
.banner-desc-container{
    width: 1899px;
    margin: 0 auto;
    padding: 19px 240px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-desc{
    width: 50%;
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
}
.banner-title{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 3rem;
}
.banner-desc button{
    margin-top: 41px;
    margin: 0 10px 0 0;
}
.goat-title{
    font-size: 5.75rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
}
.banner-list li{
    color: #534C64;
    font-family: Work Sans;
    font-size: 1.25rem;
    list-style: none;
    margin: 17px 0;
}
.banner-list li i{
    color: #F948B2;
}
.flex-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

/* Online games container */
.online-games-container{
    width: 1899px;
    margin: 0 auto;
    padding: 40px 240px;
    margin-bottom: 140px;
}
.online-games-title{
    text-align: center;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
}
.online-games-subtitle{
    text-align: center;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    margin-bottom: 48px;
}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
}
.online-games-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.audio-btn{
    margin-bottom: 36px;
}
.games-details{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    max-width: 342px;
    margin-top: 24px;
}
.games-card img{
    width: 342px;
    height: 400px;
}
/* instant play container */
.instant-play-container{
    width: 1899px;
    margin: 0 auto 200px;
    padding: 0 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 266px;
}
.instant-play-desc h1{
    width: 341px;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
}
.instant-play-desc p{
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
}
.instant-play-image{
    position: relative;
}
/* .instant-play-image .absolute-image img{
    height: 100px;
} */
.absolute-image{
    height: 10rem;
    width: 10rem;
    position: absolute;
    left: -25%;
    bottom: 10%;
}
/* carees part */
.career-container{
    width: 1899px;
    margin: 0 auto;
    max-height: 800px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    min-height: 400px;
    padding: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.career-desc{
    width: 50%;
}
.career-image{
    width: 50%;
}
.carrer-heading{
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
}
.career-subtitle{
    max-width: 680px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    margin-bottom: 32px;
}
.career-flexpart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.career-heading-leftpart{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
}
.career-heading-rightpart{
    text-align: right;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
}
.see-all-btn{
    width: 275px;
    height: 65px;
    border-radius: 48px;
    background: #FFF;
    /* padding: 21px 40px; */
    font-family: Work Sans;
    font-size: 20px;
    border: none;
    color: #F948B2;
    margin-top: 20px;
}

/* footer part */
footer{
    width: 1899px;
    margin: 0 auto;
    background: #0B0223;
    min-height: 636px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-name-part{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;

}
.games-type-part{
    font-family: Work Sans;
    font-size: 18px;
    display: flex;
    gap: 60px;
    margin: 66px 0 56px;
}
.icon-part{
    font-family: Work Sans;
    font-size: 18px;
    display: flex;
    gap: 40px;
}
.right-reserve-part{
    font-family: Work Sans;
    font-size: 16px;
    display: flex;
    gap: 60px;
    margin: 64px 0 27px;
}
.right-reserve-part span{
    color: rgba(255, 255, 255, 0.60);
}
.copyright-part{
    font-family: Work Sans;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
}
